In [10]:
#from config import (census_key, gkey)
import numpy as np
import pandas as pd
import requests
import zillow
# import pprint as pp
import json
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from citipy import citipy

In [26]:
#US top 500 school district rankings from --> https://www.alarms.org/best-school-districts-in-america/#

rankings = pd.read_excel('Data/2020alarms.org_top500schooldist.xlsx')  
rankings.head()

   Rank          State                      Name
0     1       Illinois       NAPERVILLE CUSD 203
1     2       Illinois           MORTON CUSD 709
2     3  Massachusetts                 LEXINGTON
3     4        Arizona  GILBERT UNIFIED DISTRICT
4     5  Massachusetts                  WESTFORD

In [24]:
#US School District data from --> https://catalog.data.gov/dataset/school-district-geographic-relationship-files

districts_zip = pd.read_excel('Data/2015schooldist_byzip.xlsx', encoding='ISO-8859-1',dtype={'ZCTA5CE10': 'str'})  
districts_zip['ZCTA5CE10'] = districts_zip['ZCTA5CE10'].apply(lambda x: x.zfill(5))
districts_zip['Name'] = df['Name'].str.replace('District', '')
districts_zip.head()

    LEAID                      NAME_LEA15 ZCTA5CE10  COUNT    LANDAREA
0  100001     Fort Rucker School District     00000      6   52.557308
1  100090   Anniston City School District     00000      6   12.844220
2  100188  Chickasaw City School District     00000      4    0.000000
3  100270  Baldwin County School District     00000     25  135.539762
4  100360     Bibb County School District     00000     13   53.863187

In [25]:
joint_df_schools = pd.concat([rankings.set_index('name'),districts_zip.set_index('NAME_LEA15')], axis=1, join='inner')

KeyError: "None of ['name'] are in the columns"