In [1]:
import pandas as pd

In [2]:
filenames = ['alabama', 'alaska', 'arizona','arkansas', 'california', 'colorado','connecticut','dc','delaware','florida','georgia',
             'hawaii', 'idaho', 'illinois','indiana', 'iowa','kansas','kentucky','louisiana','maine','maryland','massachusetts',
            'michigan','minnesota','mississippi','missouri','montana','nebraska','nevada','newhampshire','newmexico','newjersey',
            'northcarolina','northdakota','newyork','ohio','oklahoma','oregon','pennsylvania','rhodeisland','southcarolina','southdakota',
            'texas','tennesee','UTAH','vermont','virginia','washington','wisconsin','westvirginia','wyoming']

In [264]:
transportscores = pd.DataFrame(columns=['place','name','blkgrps','population','households','alltransit_performance_score','state'])

In [265]:
transportscores

Empty DataFrame
Columns: [place, name, blkgrps, population, households, alltransit_performance_score, state]
Index: []

In [266]:
for state in filenames:
    df = pd.read_csv('Data/State Transportation Scores/alltransit_data_places_{}.csv'.format(state))
    df['state'] = state
#     print(len(df))
    transportscores = transportscores.append(df)

In [267]:
len(transportscores)

29324

In [268]:
transportscores = transportscores.reset_index(drop=True)

In [269]:
transportscores

,place,name,blkgrps,population,households,alltransit_performance_score,state
0,"""0100100""","""Abanda""",0.03,40.96,15.98,0.0,alabama
1,"""0100124""","""Abbeville""",1.34,1282.40,476.84,0.0,alabama
2,"""0100460""","""Adamsville""",6.27,5079.23,1906.98,0.0,alabama
3,"""0100484""","""Addison""",0.11,149.38,58.91,0.0,alabama
4,"""0100676""","""Akron""",0.01,10.09,3.64,0.0,alabama
...,...,...,...,...,...,...,...
29319,"""5684852""","""Woods Landing-Jelm""",0.02,19.98,9.11,0.0,wyoming
29320,"""5684925""","""Worland""",4.06,3694.85,1587.22,0.0,wyoming
29321,"""5685015""","""Wright""",0.00,6.88,2.81,0.0,wyoming
29322,"""5686665""","""Yoder""",0.00,0.25,0.10,0.0,wyoming
29323,"""5686737""","""Y-O Ranch""",0.11,109.45,39.40,0.0,wyoming

In [270]:
transportscores[transportscores['alltransit_performance_score'] > 9.5]

,place,name,blkgrps,population,households,alltransit_performance_score,state
3123,"""0667000""","""San Francisco""",580.0,864263.0,358772.0,9.6,california
18691,"""3651000""","""New York""",6289.0,8560072.0,3142405.0,9.6,newyork
22475,"""4249504""","""Millbourne""",1.0,1253.0,345.0,9.8,pennsylvania

In [271]:
import regex as re
transportscores['name'] = [re.sub(r'"','', i) for i in transportscores['name']]
transportscores.head()

,place,name,blkgrps,population,households,alltransit_performance_score,state
0,"""0100100""",Abanda,0.03,40.96,15.98,0.0,alabama
1,"""0100124""",Abbeville,1.34,1282.40,476.84,0.0,alabama
2,"""0100460""",Adamsville,6.27,5079.23,1906.98,0.0,alabama
3,"""0100484""",Addison,0.11,149.38,58.91,0.0,alabama
4,"""0100676""",Akron,0.01,10.09,3.64,0.0,alabama

In [272]:
transportscores = transportscores.rename(columns={"name":"city", "alltransit_performance_score":"transit_score"})
for row in transportscores.iterrows():
#     print(row[0])
    if 'new' in row[1][-1][:3]:
        transportscores.state[row[0]] = row[1][-1][:3] + " " + row[1][-1][3:]
    elif 'north' in row[1][-1][:5]:
        transportscores.state[row[0]] = row[1][-1][:5] + " " + row[1][-1][5:]
    elif 'south' in row[1][-1][:5]:
        transportscores.state[row[0]] = row[1][-1][:5] + " " + row[1][-1][5:]
        
transportscores['state'] = [i.title() for i in transportscores['state']]

transportscores.head()

/Users/SilverSurfer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/SilverSurfer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/SilverSurfer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,place,city,blkgrps,population,households,transit_score,state
0,"""0100100""",Abanda,0.03,40.96,15.98,0.0,Alabama
1,"""0100124""",Abbeville,1.34,1282.40,476.84,0.0,Alabama
2,"""0100460""",Adamsville,6.27,5079.23,1906.98,0.0,Alabama
3,"""0100484""",Addison,0.11,149.38,58.91,0.0,Alabama
4,"""0100676""",Akron,0.01,10.09,3.64,0.0,Alabama

In [273]:
transportscores = transportscores[['city', 'state','transit_score']]
transportscores.head()

         city    state  transit_score
0      Abanda  Alabama            0.0
1   Abbeville  Alabama            0.0
2  Adamsville  Alabama            0.0
3     Addison  Alabama            0.0
4       Akron  Alabama            0.0

In [274]:
transportscores.iloc[17343]

city                Piney Green
state            North Carolina
transit_score               0.4
Name: 17343, dtype: object

In [275]:
df4 = pd.read_csv('Data/uszips.csv')
df4.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [276]:
df5 = df4.drop(columns=['lat', 'lng','state_id', 'zcta', 'parent_zcta', 
                           'population', 'density', 'county_fips', 'county_name', 'county_weights', 'county_names_all', 
                          'county_fips_all', 'imprecise', 'military', 'timezone'])
us_zip = df5[df5.state_name != 'Puerto Rico']
us_zip = us_zip.rename(columns={"state_name":"state"})
us_zip

         zip         city          state
131     1001       Agawam  Massachusetts
132     1002      Amherst  Massachusetts
133     1003      Amherst  Massachusetts
134     1005        Barre  Massachusetts
135     1007  Belchertown  Massachusetts
...      ...          ...            ...
33094  99923        Hyder         Alaska
33095  99925      Klawock         Alaska
33096  99926   Metlakatla         Alaska
33097  99927  Point Baker         Alaska
33098  99929     Wrangell         Alaska

[32968 rows x 3 columns]

In [277]:
us_zip[us_zip['city'] == 'Springfield']

         zip         city           state
194     1103  Springfield   Massachusetts
195     1104  Springfield   Massachusetts
196     1105  Springfield   Massachusetts
198     1107  Springfield   Massachusetts
199     1108  Springfield   Massachusetts
200     1109  Springfield   Massachusetts
201     1118  Springfield   Massachusetts
202     1119  Springfield   Massachusetts
203     1128  Springfield   Massachusetts
204     1129  Springfield   Massachusetts
206     1199  Springfield   Massachusetts
838     3284  Springfield   New Hampshire
1201    4487  Springfield           Maine
1483    5156  Springfield         Vermont
2031    7081  Springfield      New Jersey
5960   19064  Springfield    Pennsylvania
6804   22150  Springfield        Virginia
6805   22151  Springfield        Virginia
6806   22152  Springfield        Virginia
6807   22153  Springfield        Virginia
8310   26763  Springfield   West Virginia
9219   29146  Springfield  South Carolina
10100  31329  Springfield         Georgia
11992  37172  Springfield       Tennessee
13020  40069  Springfield        Kentucky
14749  45502  Springfield            Ohio
14750  45503  Springfield            Ohio
14751  45504  Springfield            Ohio
14752  45505  Springfield            Ohio
14753  45506  Springfield            Ohio
18870  56087  Springfield       Minnesota
19343  57062  Springfield    South Dakota
21618  62701  Springfield        Illinois
21619  62702  Springfield        Illinois
21620  62703  Springfield        Illinois
21621  62704  Springfield        Illinois
21622  62707  Springfield        Illinois
21623  62711  Springfield        Illinois
21624  62712  Springfield        Illinois
22804  65802  Springfield        Missouri
22805  65803  Springfield        Missouri
22806  65804  Springfield        Missouri
22807  65806  Springfield        Missouri
22808  65807  Springfield        Missouri
22809  65809  Springfield        Missouri
22810  65810  Springfield        Missouri
23548  68059  Springfield        Nebraska
24220  70462  Springfield       Louisiana
24847  72157  Springfield        Arkansas
28148  81073  Springfield        Colorado
28525  83277  Springfield           Idaho
32103  97477  Springfield          Oregon
32104  97478  Springfield          Oregon

In [278]:
transportscores[transportscores['city'] == 'Springfield']

              city           state  transit_score
3847   Springfield        Colorado            0.0
4898   Springfield         Florida            2.2
5573   Springfield         Georgia            0.0
7224   Springfield        Illinois            4.2
10248  Springfield        Kentucky            0.0
10735  Springfield       Louisiana            0.0
11643  Springfield   Massachusetts            6.9
12288  Springfield        Michigan            1.6
13150  Springfield       Minnesota            0.0
14535  Springfield        Missouri            3.8
15526  Springfield        Nebraska            0.0
20201  Springfield            Ohio            1.9
21442  Springfield          Oregon            5.9
23641  Springfield  South Carolina            0.0
24025  Springfield    South Dakota            0.0
26211  Springfield        Tennesee            0.5
26694  Springfield         Vermont            2.1
27224  Springfield        Virginia            7.5
28590  Springfield       Wisconsin            0.0
29065  Springfield    Westvirginia            0.4

In [279]:
transportscores = transportscores.merge(us_zip,how='outer',on=['city','state'])
transportscores

                       city    state  transit_score      zip
0                    Abanda  Alabama            0.0      NaN
1                 Abbeville  Alabama            0.0  36310.0
2                Adamsville  Alabama            0.0  35005.0
3                   Addison  Alabama            0.0  35540.0
4                     Akron  Alabama            0.0  35441.0
...                     ...      ...            ...      ...
42933                 Clear   Alaska            NaN  99704.0
42934         Bettles Field   Alaska            NaN  99726.0
42935  Denali National Park   Alaska            NaN  99755.0
42936               Douglas   Alaska            NaN  99824.0
42937          Meyers Chuck   Alaska            NaN  99903.0

[42938 rows x 4 columns]

In [280]:
transportscores['zip'] = transportscores['zip'].astype(str).apply(lambda x: x.zfill(5))
transportscores['zip'].value_counts()

00nan      9849
32343.0       3
45873.0       3
15043.0       3
84725.0       2
           ...
2564.0        1
28665.0       1
34987.0       1
2457.0        1
36766.0       1
Name: zip, Length: 32969, dtype: int64

In [281]:
transportscores['zip'] = [re.sub(r'nan','000', i) for i in transportscores['zip']]
transportscores

                       city    state  transit_score      zip
0                    Abanda  Alabama            0.0    00000
1                 Abbeville  Alabama            0.0  36310.0
2                Adamsville  Alabama            0.0  35005.0
3                   Addison  Alabama            0.0  35540.0
4                     Akron  Alabama            0.0  35441.0
...                     ...      ...            ...      ...
42933                 Clear   Alaska            NaN  99704.0
42934         Bettles Field   Alaska            NaN  99726.0
42935  Denali National Park   Alaska            NaN  99755.0
42936               Douglas   Alaska            NaN  99824.0
42937          Meyers Chuck   Alaska            NaN  99903.0

[42938 rows x 4 columns]

In [282]:
transportscores['city'].value_counts()

Houston          106
Washington        77
New York          69
Los Angeles       66
Miami             63
                ...
San Pierre         1
Basco              1
Fritz Creek        1
Ayer               1
East Freehold      1
Name: city, Length: 23675, dtype: int64

In [286]:
transportscores['transit_score'] = transportscores['transit_score'].fillna(0)
transportscores

                       city    state  transit_score      zip
0                    Abanda  Alabama            0.0    00000
1                 Abbeville  Alabama            0.0  36310.0
2                Adamsville  Alabama            0.0  35005.0
3                   Addison  Alabama            0.0  35540.0
4                     Akron  Alabama            0.0  35441.0
...                     ...      ...            ...      ...
42933                 Clear   Alaska            0.0  99704.0
42934         Bettles Field   Alaska            0.0  99726.0
42935  Denali National Park   Alaska            0.0  99755.0
42936               Douglas   Alaska            0.0  99824.0
42937          Meyers Chuck   Alaska            0.0  99903.0

[42938 rows x 4 columns]

In [296]:
#need to fix this later with 'District of Columbia' state
transportscores[transportscores['state'] == 'Dc']

            city state  transit_score    zip
5130  Washington    Dc            9.3  00000

In [288]:
transportscores.to_csv('Data/transportationscoresus.csv',index=False)